@import "../../components/variables.scss";

$firstHeight: 26em;
$landingImage: url(/images/landing.svg);

.root {

}

.wrapper {
  margin-top: 2.5em;
  margin-left: 1em;
  margin-right: 1em;
}

.container {
  margin: 0 auto;
  max-width: 780px;
}

.first {
  padding: 1em 1em;
  background-color: $dark;
  background-image: $landingImage;
  background-size: contain;
  background-position: center 16em;
  background-repeat: no-repeat;
  box-shadow: $z1;

  & > .container {
    display: flex;
    flex-direction: column;
    min-height: $firstHeight;
  }

  & > .container > div {
    align-self: center;
    width: 100%;
  }

  & > .container > .nav {
    flex: 1;
  }

  & > .container > .intro {
    flex: 3;
  }
}

.nav {
  display: flex;

  margin-top: 1em;
  color: white;

  & > div:first-child {
    flex: 1;
  }

  & > div:not(:first-child) {
    padding-left: 1.8em;
    margin-top: 0.5em;
  }

  & > div:last-child {
    margin-top: 0;
    padding-left: 1.8em;
  }

  & > div > a {
    color: white;
    text-decoration: none;
  }

  & > div > :not(.login):hover,
  & > div > :not(.login):focus {
    border-bottom: 2px solid $white;
    padding-bottom: 0.1em;
  }

  & > div > .logo {
    width: 2.8em;
    height: auto;
  }
}

.mobileNav {
  display: none;
}

.toggleNav {
  flex: 1;

  text-align: right;
  margin-right: 1em;
}

.toggleNav > button {
  @extend .resetBtn;
  background: $dark; // transparent
  width: 5.5em;
  padding: 0.4em 0;
  color: $white;
  font-weight: 400;
  border: 2px solid $white;
  border-radius: 1em;
  text-align: center;
}


@media screen and (max-width: 640px) {
  .nav {
    flex: 0 !important;
    margin-top: 8em;
  }

  .nav > div {
    display: none;
  }

  .mobileNav {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    padding: 0.6em 0;


    color: white;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: $z1;

    & > div {
      align-self: center;
    }

    & > div:first-child {
      flex: 2;
    }

    & > div > .logo {
      width: 2.6em;
      padding-left: 1.5em;
      height: auto;
    }
  }

  .first {
    // padding-top: 20%;
  }
}

.mobileNav > .navWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;

  margin-top: 4em;
  background: transparentize($dark, 0.4);
}

.navWrapper > div {
  flex: 1;
  align-self: center;

  & > span {
    background: $dark;
    color: $white;
    border: 2px solid $white;
    border-radius: 1em;
    padding: 0.4em 0.8em;
    box-shadow: $z1;
  }

  & > span:hover, & > span:focus {
    background: $white;
    color: $dark;
  }
}

.login {
  @extend .resetBtn;
  box-shadow: $z1;
  color: $white;
  background: rgba(0, 0, 0, 0.2);
  padding: 0.3em 0.9em;
  border: 0.15em solid $white;
  border-radius: 10em;
}

.login:hover, .login:focus {
  color: $dark;
  background: white;
  border: 0.15em solid transparent;
}

/*
  =====================
    Section 1: Intro
  ====================
*/

.introText {
  flex-direction: column;
  color: white;
  height: 35%;

  text-align: center;

  & > h2 {
    margin: 0;
    line-height: 1.8em;
    font-size: 1.9em;
    font-weight: 300;
  }

  & > h3 {
    font-weight: 300;
    line-height: 1.6em;

    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  & > .introCta {
    width: 50%;
    margin: 0 auto;
  }
}

@media screen and (max-width: $screen-sm-min) {
  .introText > h2 {
    font-size: 1.6em;
    line-height: 1.6em;
  }

  .introText > h3 {
    font-size: 1.1em;
    line-height: 1.6em;
    margin-top: 0.5em;
  }
}

@media screen and (max-width: $screen-xs-min) {
  .introText > h2 {
    font-size: 1.4em;
    font-size: 1.4em;
    margin-bottom: 1em;
  }

  .introText > h3 {
    font-size: 1em;
    line-height: 1.4em;
    margin-top: 0;
    margin-bottom: 2em;
  }
}

.introBtn {
  @extend .resetBtn;
  width: 9em;
  min-height: 3em;
  border-radius: 4px;
  padding: 0.5em;
  font-weight: 400;
  box-shadow: $z1;
  margin: 0 auto;

  background: white;
  color: $dark;
}

.introBtn:hover, .introBtn:focus {
  background: transparent;
  color: white;
  border: 2px solid $white;
}

.introMedia > img {
  max-width: 100%;
  height: auto;
  box-shadow: $zFlow;
}

/*
  ====================
    Section 2: Why?
  ====================
*/

.whyText {
  text-align: center;

  & > h2 {
    font-weight: 300;
    line-height: 1.4em;
    margin: 0;
  }

  & > h3 {
    margin: 0;
    margin-top: 0.5em;
    font-weight: 300;
    line-height: 1.6  em;
    color: $grey;
  }
}

/*
  =============================
    Section 3: Stats & Awards
  =============================
*/


.stat {
  text-align: center;

  & > h2 {
    margin: 0;
    color: #2d2d30;
    font-weight: 300;
    font-size: 2em;
    line-height: 1.8em;
  }

  & > h4 {
    margin: 0;
    font-weight: 300;
    line-height: 1.4em;
    color: $grey;
  }
}

/*
  ===========
    Sign Up
  ===========
*/

.signupText {
  margin: 0 auto;
  text-align: center;
}

.signupText > h2 {
  margin: 0;
  margin-bottom: 1.2em;

  font-weight: 300;
  line-height: 1.4em;
}

.signupBtn {
  @extend .resetBtn;
  width: 7em;
  border-radius: 4px;
  padding: 0.7em 1.2em;
  color: $white;
  background: $dark;
  box-shadow: $z1;
  text-decoration: none;
  border: 2px solid transparent;
}

.signupBtn:hover, .signupBtn:focus {
  color: $dark;
  background: $white;
  border: 2px solid $dark;
  font-weight: 500;
}

/*
  =========
    Comps
  =========
*/

.cover {
  display: flex;
  justify-content: center;

  width: 100%;
  height: 30%;

  margin: 2em 0em;

  background-color: $dark;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  box-shadow: $zLite;

  & > .inner {
    flex: 1;
    align-self: center;
  }

  & > .inner > h2 {
    margin: 0;

    font-weight: 300;
    line-height: 1.4em;
    text-align: center;
    color: $white;
  }
}

/*
  ==========
    Footer
  ==========
*/

.footer {
  margin-top: 3.5em;
  font-size: 0.88em;
  line-height: 1.6em;
  padding: 0.7em;
  text-align: center;
  background: $dark;
  color: $white;
  box-shadow: $zLite;
}
