@import "../components/variables.scss";

.label {
  text-align: right;
  padding: 10px 10px 10px 5px;
}

.card {
  padding: 1.5em 1.5em 0.5em 1.5em;
  word-wrap: break-word;
  margin-bottom: 1.5em;
}

.title {
  padding: 1em;
  background: #272737;
  color: white;
}

.z1 {
  box-shadow: $z1;
}

.zFlow {
  box-shadow: $zFlow !important;
}

.or {
  padding-top: 1.5em;
  text-align: center;
}

.form {
  margin: 0;
}

.login {
  @extend .title;
  @extend .resetBtn;
  background: $primary;
}

.login:hover {
  background: $primary_hover;
}
