@import "../variables.scss";

.button {
  font-size: 1.1em;
  font-weight: 500;
  font-family: $font-family-base;
  height: $button-height;
  line-height: $button-height;
  background: $primary;
  color: $button-text-color;
  box-shadow: $zLite;
  position: relative;
  overflow: hidden;
  user-select: none;
  z-index: 1;
  transition: all .3s ease-out;
  text-decoration: none;
  text-align: center;
  letter-spacing: .5px;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  display: inline-block;
  outline: 0;
  padding: 0 2rem;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
}

.button:hover {
  background: $primary_hover;
}

.secondary {
  background: $secondary;
}

.secondary:hover {
  background: $secondary_hover;
}
