@import "../variables.scss";

$grey: #9e9e9e;
$paper: #efefef;
$cubic: cubic-bezier(.64,.09,.08,1);
$shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.12);
$navWidth: 180px; // 240px
$togglePadding: 12px;

.responsive-nav {
  display: none;
  + .label {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    padding: 16px;
    font-size: 20px;
    background: #fefefe;
    box-shadow: $shadow;
    cursor: pointer;
    z-index: 3;
    transition: background 0.3s $cubic, color 0.3s $cubic;
  }
}

.aside {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  transition: transform 0.3s $cubic;
  background: #fefefe;
  width: $navWidth;
  height: 100%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.logo-area {
  width: 100%;
  height: 124px;
  border-bottom: solid 1px lighten($grey, 30%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fefefe; // darken($grey, 30%);
  background-size: cover;
  background-position: center;
  font-size: 1.5em;
}

.nav {
  width: 100%;
  height: 100%;
  > .a, .label {
    padding: 20px 24px;
  }
  .a, .label {
    width: 100%;
    display: block;
    text-decoration: none;
    color: darken($grey, 30%);
    cursor: pointer;
    font-weight: 500;
    transition: none;
    &:hover {
      background: lighten($grey, 30%);
    }
  }

  .label {
    &:before, &:after {
      content: '';
      float: right;
      width: 2px;
      height: 7px;
      background: $grey;
      transform-origin: 0 0;
      margin-top: 4px;
      transition: transform 0.3s $cubic;
    }
    &:before {
      transform: rotate(50deg);
    }
    &:after {
      transform: rotate(-50deg) translate(-6px, 1px);
    }
  }
}

.wrap {
  transform: scaleY(0);
  transform-origin: 0 0;
  transition: transform 0.3s $cubic;
  .a {
    padding: 0 24px 0 34px;
    height: 0;
    font-weight: 400;
    transition: height 0.3s $cubic;
    display: flex;
    align-items: center;
  }
}

.nav-collapsible-n {
  display: none;
  &:checked {
    + .label {
      transition: background 0.2s $cubic, color 0.2s $cubic;
      background: lighten($grey, 30%);
      &:before {
        transform: rotate(-230deg) translate(5px, -5px);
      }
      &:after {
        transform: rotate(50deg) translate(5px, -2px);
      }
    }
    ~ .wrap {
      height: auto;
      transform: scaleY(1);
      .a {
        height: 54px;
      }
    }
  }
}

.main {
  position: absolute;
  top: 0;
  left: $navWidth;
  right: 0;
  bottom: 0;

  -moz-transition: left 0.5s ease;
  transition: left 0.5s ease;
}

@media screen and (max-width: 1120px) {
  .aside {
    transform: translateX(-100%);
  }

  .main {
    left: 0;
  }

  .responsive-nav {
    + .label {
      display: block;
    }
    &:checked {
      + .label {
        color: #fefefe;
        background: $primary;
      }
      ~ .aside {
        transform: translateX(0);
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .aside {
    width: 100%;
  }
  .responsive-nav {
    + .label {
      padding: $togglePadding;
      font-size: 24px;
    }
  }
}
