@import "../variables.scss";

.ytContainer {
  position: relative;
  padding-bottom: 56.25%;
  height: 0em;
  overflow: hidden;
}

.youtube {
  position: absolute;
  top: 0em;
  left: 0em;
  width: 100%;
  height: 100%;
}

.image {
  max-width: 100%;
  height: auto;
  box-shadow: $zLite;
}

.text {
  font-family: Roboto, Pridi;
  font-weight: 300;
  line-height: 1.5em;
}
