.root {
  height: auto;
  display: flex;
  -ms-flex-direction: row;
  box-orient: horizontal;
  background: #F0F2F5;
}

.root > div:not(:first-child) {
  flex: 1;
}

.main {
  flex: 1;
  padding: 3em 4em;
}
