.root {
  min-height: 100%;
  position: relative;
  padding-bottom: 10em;
}

.h1 {
  font-weight: 300;
  margin: inherit;
  margin-top: 0.3em;
}

.h3 {
  color: grey;
  font-weight: 300;
  margin-top: 0.6em;
}

.obj {
  margin: 1em 0em;
  position: relative;
}

.addContent {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.fab {
  position: fixed;
  right: 1em;
  bottom: 1em;
}
