$time: 0.6s;
$curve: cubic-bezier(0.91, -0.12, 0.46, 1.16);

@keyframes slideInAnim {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes slideOutAnim {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(50%);
  }
}

// 1s infinite alternate

.enter, .enterActive {
  animation: slideInAnim $time $curve;
}

.leave, .leaveActive {
  animation: slideOutAnim $time $curve;
}
