@import "../variables.scss";

.root {
	position: absolute;

	top: 0;
	left: 0;

	z-index: 3;
	width: 100%;
}

.nav {
	display: flex;
	justify-content: center;

	height: 2.5em;
	padding: 0.5em 2em;

	color: $white;
	background: $dark;

	& > div {
		align-self: center;
	}
}

@media screen and (max-width: $screen-sm-min) {
	.root {
		position: fixed;
	}
}

.logo {
	margin: 0 auto;

	& > img {
		width: 2.5em;
		height: auto;
	}
}

.left, .right {
	display: flex;
	flex: 1;

	& > div {
		align-self: center;
	}
}

.left {
	justify-content: flex-start;
}

.right {
	justify-content: flex-end;
}

.center {
	display: flex;
	flex: 4;
}

.linkBtn {
	display: flex;
	margin-right: 1.5em;

	& > svg {
		align-self: center;
		margin-right: 0.5em;

		width: 1.1em;
		height: 1.1em;

		fill: $white;
	}

	& > span {
		line-height: 1.6em;
	}
}

.icon {
	margin-right: 1em;

	& > svg {
		width: 1.5em;
		height: 1.5em;

		fill: $white;
	}
}
