$font-family-base: "Roboto", "Kanit", "Segoe UI", "Helvetica Neue", sans-serif;
$font-weight-base: 300;

$max-content-width: 1080px;
$screen-xs-min: 480px;  /* Extra small screen / phone */
$screen-sm-min: 768px;  /* Small screen / tablet */
$screen-md-min: 992px;  /* Medium screen / desktop */
$screen-lg-min: 1200px; /* Large screen / wide desktop */

$grey: #a3b4bb !default;
$dark: #353E48 !default;
$blue: #16a8af !default;
$green: #24C86E !default;
$white: #efefef !default;

$primary: $dark !default;
$primary_hover: lighten($primary, 10%) !default;
$secondary: $grey !default;
$secondary-hover: lighten($secondary, 10%) !default;

$accent: #26a69a; // #26a69a #0c82d3 #16a085
$complement: #f45b69;

$activeColor: #2b7efd;
$buttonColor: $dark;

$button-height: 54px;
$button-text-color: #fff;

$navTop: 2.5em;
$viewPadding: 3em 4em;
$mobileViewPadding: 3em 1.35em;

$zLite: 0 1px 1.5px 1px rgba(0,0,0,.12);
$z1: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
$zFlow: 0 38px 43px rgba(0,0,0,.09);
$zGrid: rgba(0, 0, 0, 0.117647) 0px 1px 1.5px 1px;
$zCover: rgba(0, 0, 0, 0.156863) 0px 2px 5px 0px, rgba(0, 0, 0, 0.117647) 0px 2px 10px 0px;
$zAddr: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.12);
$zCard: rgba(0, 0, 0, 0.19) 0 0 8px 0;

.resetBtn {
  width: 100%;
  border: 0;
  font-family: $font-family-base;
  font-size: 1em;
  font-weight: $font-weight-base;
  outline: none;
  cursor: pointer;
}
