@import "../variables.scss";

.ytContainer {
  position: relative;
  padding-bottom: 56.25%;
  height: 0em;
  overflow: hidden;
  // transition: .5s all .2s cubic-bezier(0.49, 0.04, 0.36, 1.17);
}

.ytLoading {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  background-color: $dark;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ytLoadingOverlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.youtube {
  position: absolute;
  top: 0em;
  left: 0em;
  width: 100%;
  height: 100%;
}
