@import "../../components/variables.scss";

.main {
  padding: 3em 4em;
}

.card {
  background: white;
  height: auto;
  border-radius: 7px;
  box-shadow: $zCard;
}

.cardTop {
  display: flex;
  padding: 0.65em 1em;
  background: $grey;
  color: white;
  margin-bottom: 1em;
  border-radius: 5px;
  box-shadow: $zLite;
}

.cardTop.success {
  background: $green;
}

.cardTop.danger {
  background: #F8334A;
}

.cardTop.warn {
  background: #FF8F3F;
}

.cardTop > span {
  flex: 1;
  line-height: 1.6em;
}

.cardTopIcon > svg {
  fill: white;
  width: 1.6em;
  height: 1.6em;
}
