@import "../variables.scss";

.round {
  width: 5em;
  height: 5em;
  box-shadow: $z1;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}
