@import "../../components/variables.scss";

.label {
  text-align: right;
  padding: 10px 10px 10px 5px;
}

.card {
  padding: 1.5em 1.5em 0.5em 1.5em;
  word-wrap: break-word;
  margin-bottom: 1.5em;
}

.z1 {
  box-shadow: $z1;
}

.zFlow {
  box-shadow: $zFlow !important;
}

.or {
  padding-top: 1.5em;
  text-align: center;
}

.form {
  margin: 0;
}

.login {
  @extend .resetBtn;
  padding: 1em;
  color: $white;
  background: $dark;
}

.login:hover {
  background: lighten(#353E48, 20%);
}

.tab {
  width: 100%;
  position: absolute;
  bottom: 0;
}
